
/* general selectors */
* {
    font-family: Arial, Helvetica, sans-serif;
}

.custom-align-center {
    align-items: center;
}

.custom-h-600px {
    height: 600px;
}

.custom-h-300px {
    height: 300px;
}

.custom-h-200px {
    height: 200px;

}

.custom-h-150px {
    height: 150px;
}

.custom-h-100px {
    height: 100px;
}

.custom-h-75px {
    height: 75px;
}

.custom-h-50px {
    height: 50px;
}

.custom-h-25px {
    height: 25px;
}

.custom-w-125px {
    width: 125px;
}

.custom-text-white {
    color: white;
}

.custom-text-grey {
    color: #7b7b7b;
}

.custom-text-blue {
    color: #0876cf;
}

.custom-bg-red-button {
    background-color: #cd3d0f;
}

.custom-bg-blue-button {
    background-color: #2d64e6;
}

.custom-bg-black {
    background-color: #1f1f1f;
}

/* *********header selectors********* */
header {
    font-family: helvetica;
    position: fixed;
    top: 0;
}

#sony-logo {
    letter-spacing: 2px;
}

/* *********main selectors********* */

/* jumbotron section selectors */
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: end;
    padding-bottom: 3rem;
    margin-top: 7rem;
}

.jumbotron h1 {
    font-size: 2.5rem;
}

#returnal-title {
    width: 60%;
}

/* suggested-gam section selectors */

.suggested-games {
    padding-bottom: 6rem;
}


/* play-has-no-limits section selectors */
.play-has-no-limits h1 {
    font-size: 2.5rem;
}

/* it-takes-two section selectors */
.it-takes-two {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
}

.it-takes-two h1 {
    font-size: 2.5rem;
}

/* it-takes-two section selectors */
.explore-ps4 h1 {
    font-size: 2.5rem;
    padding-top: 4rem;
}

.explore-ps4 h2 {
    font-size: 2.2rem;
}

.explore-ps4 p {
    font-size: 1.25rem;
}