
/* general selectors */
* {
    font-family: 'Courier New', Courier, monospace;
}

.custom-h-600px {
    height: 600px;
}

.custom-h-300px {
    height: 300px;
}

.custom-h-200px {
    height: 200px;

}

.custom-h-150px {
    height: 150px;
}

.custom-h-100px {
    height: 100px;
}

.custom-h-75px {
    height: 75px;
}

.custom-h-50px {
    height: 50px;
}

.custom-h-25px {
    height: 25px;
}

.custom-w-200px {
    width: 200px;
}

.custom-text-white {
    color: white;
}

.custom-bg-red-button {
    background-color: #cd3d0f;
}

.custom-bg-color-black {
    background-color: black;
}

.custom-bg-color-acqua {
    background-color: #1abc9c;
}

.custom-bg-color-grey {
    background-color: #3a546d;
}

.custom-bg-white {
    background-color: white;
}

.custom-bg-green {
    background-color: green;
}

.custom-bg-blue {
    background-color: blue;
}



.custom-bg-yellow {
    background-color: yellow;
}

/* *********header selectors********* */

#sony-logo {
    letter-spacing: 2px;
}

/* *********main selectors********* */
.jumbotron {
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
}

#returnal-title {
    width: 50%;
}